html {
    font-size: 16px;
    /*1 rem*/
    font-family: var(--tipografia);
}


/*estilos del banner*/

.sct-banner {
    width: 100%;
}

.sct-banner h1 {
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
}

.sct-banner p {
    color: var(--negro-texto);
    font-size: 1rem;
    text-align: center;
    width: 75%;
}

.sct-banner .img-container {
    width: 95%;
}

.sct-banner .img-container img {
    width: 100%;
}